{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - blogpost{% endblock %}

{% block content %}

{% set posts = get('blogpost') %}
{% set posts = posts|sort('publish_date', true) %}
{% set posts = paginate(posts, 5) %}
<!--   <ul>
    {% for object in posts %}
      <li><a href="{{ url(object) }}">{{ object.name }}</a></li>
    {% endfor %}
  </ul> -->
{% include "templates/partials/paginator.html" %}
<div class="posts">

  {% for post in posts %}
  <section class="post">
    <header class="post-header">
      <img class="post-avatar" alt="{{post.author.name}}" height="48" width="48" src="{{post.author.avatar.url}}">
      <h2 class="post-title">{{post.name}}</h2>
      <p class="post-meta">
        By <a class="post-author" href="#">{{post.author.name}}</a> under

        {% for tag in post.tags %}
        <a class="post-category post-category-js" href="{{tag.url}}">{{tag.name}}</a>
        {% endfor %}

      </p>
    </header>
    <div class="post-description">
      <p>
        {{post.content|markdown}}
      </p>
    </div>
  </section>
  {% endfor %}


</div>
{% include "templates/partials/footer.html" %}
{% endblock %}